

#header img {
    animation: floating 4s ease-in-out infinite;
}

section.bg-anim {
    background-position-x: center;
    animation: bg 30s cubic-bezier(.22,-0.01,.8,1) infinite;
}

@keyframes floating {
    0% {
        margin-top: 8px;
        margin-bottom: -8px;
    }
    50% {
        margin-top: -8px;
        margin-bottom: 8px;
    }
    100% {
        margin-top: 8px;
        margin-bottom: -8px;
    }
}

@keyframes bg {
    0% {
        background-position-y: 40%;
    }
    50% {
        background-position-y: 80%;
    }
    100% {
        background-position-y: 40%;
    }
}