@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
}

nav a.after\:bg-gray-200:hover:after {
  opacity: 1;
  margin: 0 !important;
}

footer {
  box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
}